<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Изменение</title>
</head>
<body>
<div align="center">
    <h1>Изменить пользователя</h1>
    <form th:method="POST" th:action="@{/updateUser}" th:object="${user}">
        <br>
        <br>
        <label for="id">Введите id </label>
        <input type="text" th:field="*{id}" id="id"/>
        <br>
        <br>
        <label for="firstName">Введите имя </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br>
        <br>
        <br>
        <label for="lastName">Введите фамилию </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br>
        <br>
        <br>
        <label for="year">Введите год </label>
        <input type="text" th:field="*{year}" id="year"/>
        <br>
        <br>
        <br>
        <input type="submit" value="Изменить"/>
    </form>
</div>
</body>
</html>